@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');

#app {
    font-family: 'Fredoka', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
body{
    overflow-x: hidden;
}
ul{
    list-style-type: none;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
.popup--close{
    animation-name: showPopup;
    animation-direction: reverse;
    animation-duration: 0.5s;
    animation-delay: 100ms;
    animation-fill-mode: both;
}
.primary-btn{
    background: #459873;
    border-radius: 4px;
    outline: none;
    padding: 12px;
    border: none;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    transition: 0.1s linear;
}
.primary-btn:hover{
    background: #45856d;
}
.primary-btn:active{
    background: #30624f;
}
.primary-btn:focus{
    border: 2px solid rgba(17, 17, 17, 0.48);
}
button, select{
    cursor: pointer;
}
.secondary-btn{
    border-radius: 4px;
    padding: 10px;
    color: #fff;
    background-color: #2196f3;
    transition: all 0.15s linear;
    border: none;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    &:hover {
        background-color: #1d81d1;
    }
    &:focus {
        background-color: #176aae;
    }
}
.danger-btn {
    background: #d54141;
    border-radius: 4px;
    outline: none;
    padding: 12px;
    border: none;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    transition: 0.1s linear;
    &:hover{
        background: #a83030;
    }
    &:active{
        background: #792222;
    }
    &:focus{
        border: 2px solid rgba(17, 17, 17, 0.48);
    }
}
input {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: rgba(17, 17, 17, 0.48);
    transition: all 0.45s ease-in;
    outline: none;

    &:hover {
        box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 56px rgba(51, 51, 51, 0.16);
    }

    &:focus {
        color: #111111;
        box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    }
}

.delete {
    padding: 7px 12px;
    background: #d20808;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.input{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 4px;
    border: none;
    color: rgba(17, 17, 17, 0.48);
    font-size: 16px;
    line-height: 24px;
    padding: 16px;
    transition: box-shadow 0.45s ease-in, color 0.1s linear;
    outline: none;
    min-width: 250px;
    &:focus{
        box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 24px rgba(51, 51, 51, 0.24);
        color: #111111;
    }
    &:hover{
        box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 24px rgba(51, 51, 51, 0.24);
    }
    @media(max-width: 768px) {
        width: 75%;
    }
}

.row{
    display: flex;
}